
body {
    margin: 0px;
    font-size: 35px;
    text-align: left;
  }
  
  td,
  th {
    border: 1px solid black;
  }
  
  .btn {
    text-decoration: none;
    color: white;
    background-color: rgb(228, 228, 255);
    padding: 7px;
    margin: 0px 3px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(171, 171, 255);
  }
  
  .container {
    text-align: center;
    padding: 30px;
  }
  
  .footer {
    text-align: center;
    padding: 10px;
  }
  
  .bg-aliceblue {
    background-color: aliceblue;
  }
  
  .bg-antiquewhite {
    background-color: rgb(255, 255, 255);
    text-align: center;
    color:#383a39;
    margin-right: 10%;

  }
  
  .profile-picture {
    border-radius: 0%;
    width: 560px;
    height: auto;
    box-sizing: border-box;
    
  }
  .topnav {
    background-color: rgb(110, 110, 110);
    overflow: hidden;
  } /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: end;
    padding: 14px 16px;
    text-decoration: line;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(110, 110, 110);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #07d68a;
    color: rgb(0, 0, 0);
  }
  .price .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.price .box-container .box{
    padding:2rem 0;
    background:rgb(0, 0, 0);
    border-radius: .5rem;
    text-align: center;
}

.price .box-container .box:hover{
    transform: scale(1.03);
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
.price .box-container .box .title{
    background:var(--main-color);
    color:#fff;
    padding:1.5rem 0;
    font-size: 2rem;
}

.price .box-container .box .amount{
    color:#fff;
    padding-top: 2rem;
    font-size: 4rem;
}

.price .box-container .box ul{
    list-style-type: none;
    padding:1rem 0;
}

.price .box-container .box ul li{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
}

.price .box-container .box ul li i{
    color:var(--main-color);
    padding-right: .5rem;
}

  .contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width: 100%;
    background:rgb(54, 47, 71);
    border-radius: .5rem;
    padding:1rem;
    margin:.4rem 0;
    font-size: 1rem;
    color:#fff;
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    color:#eee;
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
    background:rgb(177, 89, 89);
}

.contact form .inputBox input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root{
    --main-color:#000000;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: rgb(255, 255, 255);
    text-align: right;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 1rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: rgb(5, 43, 53);
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background:var(--main-color);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: rgb(113, 113, 113);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:var(--main-color);
}

.header .navbar a{
    font-size: 1.7rem;
    color:#fff;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

.home .content{
    text-align: center;
    padding-top: 6rem;
    margin:2rem auto;
    max-width: 70rem;
}

.home .content h3{
    color:#fff;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--main-color);
    text-transform: uppercase;
}

.home .home-slider .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height: 50rem;
    width:35rem;
}

.home .home-slider .swiper-slide img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.service .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
}

.service .box-container .box{
    border-radius: .5rem;
    background:rgb(110, 110, 110);
    text-align: center;
    padding:2.5rem;
}

.service .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background:var(--main-color);
    color:#fff;
}

.service .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding:1rem 0;
}

.service .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    line-height: 1.8;
}

.about .row{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    gap:1.5rem;
    text-align: center;
}

.about .row .image{
    flex:1 1 45rem;
    padding:1rem;
}

.about .row .image img{ 
    width: 100%;
    border-radius: .5rem;
    border:1rem solid #333;
}

.about .row .content{
    flex:1 1 45rem;
    text-align: center;
}

.about .row .content h3{
    font-size: 3.5rem;
    color:#fff;
    text-align: center;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
    line-height: 2;
}

.project .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
}

.project .box-container .box{
    position: relative;
    border:1rem solid #333;
    border-radius: .5rem;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
}

.project .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project .box-container .box:hover img{
    transform: scale(1.1);
    filter: grayscale();
}

.project .box-container .box .title{
    position: absolute;
    top:-10rem; left:0; right: 0;
    background:#333;
    color:#fff;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.project .box-container .box:hover .title{
    top:0;
}

.project .box-container .box .icons{
    position: absolute;
    bottom:-10rem; left:0; right: 0;
    background:#333;
    padding-top: 1rem;
    text-align: center;
}

.project .box-container .box:hover .icons{
    bottom: 0;
}

.project .box-container .box .icons a{
    font-size: 2rem;
    margin:.5rem 1rem;
    color:#fff;
}

.project .box-container .box .icons a:hover{
    color:var(--main-color);
}

.price .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.price .box-container .box{
    padding:2rem 0;
    background:rgb(111, 111, 111);
    border-radius: .5rem;
    text-align: center;
}

.price .box-container .box:hover{
    transform: scale(1.03);
}

.price .box-container .box .title{
    background:var(--main-color);
    color:#fff;
    padding:1.5rem 0;
    font-size: 2rem;
}

.price .box-container .box .amount{
    color:#fff;
    padding-top: 2rem;
    font-size: 4rem;
}

.price .box-container .box ul{
    list-style-type: none;
    padding:1rem 0;
}

.price .box-container .box ul li{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
}

.price .box-container .box ul li i{
    color:var(--main-color);
    padding-right: .5rem;
}

.reivew .box{
    border-radius: .5rem;
    background: rgb(101, 101, 101);
    padding:2rem;
    position: relative;
}

.reivew .box .fa-quote-right{
    position: absolute;
    top:2rem; right: 2rem;
    color:var(--main-color);
    font-size: 5rem;
}

.reivew .box .user{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding-bottom: 1rem;
}

.reivew .box .user img{
    height:7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reivew .box .user h3{
    font-size: 2rem;
    color:#fff;
}

.reivew .box .user span{
    font-size: 1.5rem;
    color:#eee;
}

.reivew .box p{
    line-height: 2;
    color:#eee;
    padding:.5rem 0;
    font-size: 1.6rem;
}

.contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width: 100%;
    background:rgb(109, 109, 109);
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
    color:#fff;
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    color:#eee;
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
    background:rgb(177, 89, 89);
}

.contact form .inputBox input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.footer{
    background:rgb(109, 109, 109);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:#eee;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#fff;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgb(0, 0, 0);
    color:#fff;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:var(--main-color);
}

.theme-toggler{
    position: fixed;
    top:10rem; right:-20rem;
    background: #333;
    z-index: 1000;
    width: 20rem;
    text-align: center;
}

.theme-toggler.active{
    right:0;
}

.theme-toggler h3{
    color:#fff;
    padding:1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:1rem;
    padding:1rem;
}

.theme-toggler .buttons .theme-btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top:0; left:-5.9rem;
    padding:1.3rem 1.5rem;
    background:#333;
    cursor: pointer;
}

.theme-toggler .toggle-btn i{
    color:#fff;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(360deg);
    }
}










/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background:#222;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
    }

    .home .content h3{
        font-size: 4rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .home-slider .swiper-slide{
        width: 27rem;
    }

    .contact form .inputBox input{
        width: 100%;
    }

}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }