@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: linear-gradient(#9b599b,#9b599b 50%,#fff 50%,#fff 100%);
}

.service{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service .box{
    width: 320px;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);

}
.service .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #17050b;
    transform: scale(0);
    transform-origin: top;
    transition: transform 1s;
}
.service .box h3{
    position: relative;
    font-size: 1.5em;
    z-index:2;
    color: rgb(15, 29, 29);
    transition: 1s;
}
.service .box p{
    position: relative;
    z-index:2;
    color: rgb(6, 11, 11);
    transition: 1s;
}
.service .box:hover h3{
    color: #9b599b;
}
.service .box:hover p{
    color: #9b599b;
}