*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;

}
input{
    display:none;
}
.container{
    width:100%;
    text-align:center;
}
h1{
    font-weight:normal;
    font-size:35px;
    position: relative;
    margin:40px 0;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height:3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;

}
@keyframes animate{
    0%{
        width:100px;
    }
    50%{
        width:200px;
    }
    100%{
        width:100px;
    }
}
.top-content{
    background-color:rgb(215,165,224);
    width:90%;
    margin:0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius:5px;
    box-shadow:3px 3px 5px rgb(215,165,224);
}
h3{
    height:100%;
    background-color:rgb(223, 201, 238);
    line-height:60px;
    padding:0 50px;
    color:white;

}
label{
    display: inline-block;
    height: 100%;
    margin:0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: black;
}
.gallery{
    width: 90%;
    margin: auto;
    
}
.pic{
    position:margin;
    height: 230px;
    border-radius:10px;
    box-shadow: 3px 3px 5px rgb(215,165,224) ;
    cursor:pointer;

}
.pic img{
    width:30%;
    height:250px;
    border-radius:10px;
    transition: .5s;
}
#check1:checked ~ .container .gallery .pic{
    opacity:1;
    transform: scale(1);
    position: relative;
}

}