USE [master]
GO

CREATE DATABASE [ImFine]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImFine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImFine]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceAlias] [nvarchar](256) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Direction] [nvarchar](50) NOT NULL,
	[MessageId] [nvarchar](256) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[ExpireTime] [datetime] NULL,
	[StatusTime] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING ON

GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_DeviceAlias_Timestamp] ON [dbo].[DeviceMessages]
(
	[DeviceAlias] ASC,
	[Timestamp] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
SET ANSI_PADDING ON

GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_MessageId_DeviceAlias] ON [dbo].[DeviceMessages]
(
	[MessageId] ASC,
	[DeviceAlias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
USE [master]
GO
