*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    }
    
    header{
     width: 100%;
     height: 100vh;
     background-image: url('bg.png');
     background-repeat: no-repeat;
     background-size: 100%;
    
    }
    
    .mainheader{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    .mainheader .logo img{
     width: 250px; height: 168px;
     padding-left: 13px;
     margin-top: 80px;
     margin-left: 50px;
    }
    
    .mainheader nav{
     width: 450px;
     display: flex;
     justify-content:space-around;
     align-items: center;
     /* background-color: #649bff; */
     border-radius: 10px;
    }
    
    .mainheader nav a{
     text-decoration: none;
     color: white;
     text-transform: uppercase;
     /* border: 2px solid whitesmoke; */
     padding: 6px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     
     /* border-radius: 4px; */
     /* transition: .4s ease; */
     
    }
    .mainheader nav a:hover{
        background-color:white;
        color: black;
        border-radius: 15px;
        transition:.4s ease;
        
    }
    
    .menubtn{
     margin-right: 60px;
     
    }
    .menubtn a{
        text-decoration: none;
    }
    .menubtn:hover{
       background-color: antiquewhite;
       color: black;
       border: 2px solid cyan;
       border-radius: 10px;
       cursor: pointer;
    }
    .mainheader button{
     padding: 10px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
    }
    
    
    main{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    main .right-sec{
     padding-right: -90px;
     margin-right: 10px;
    }
    
    main .left-sec{
     padding-left: 100px;
     text-decoration: none;
    }
    
    .left-sec h2{
     font-size: 20px;
     text-transform: capitalize;
     font-weight: lighter;
     color: #242424;
     margin-top: 100px;
    }
    
    .left-sec h1{
     font-size: 55px;
     text-transform: capitalize;
     font-weight: 700;
     margin: 15px 0;
    }
    
    .left-sec p{
     margin-bottom: 20px;
    }
    .left-sec a{
        text-decoration: none;
    }
    
    .left-sec button{
     padding: 15px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
     
     
    }
    .left-sec button:hover{
       border: 2px solid cyan;
       background-image: none;
       background-color: antiquewhite;
       color: black;
       cursor: pointer;
    }