*{
    background-color: #ededed;
}
.align {
    display: grid;
    place-items: center;
  }
  
  /* helpers/icon.css */
  
  .icon {
    font-size: 2rem;
  }
  
  /* layout/base.css */
  
  body {
    color: #888;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
  }
  
  /* modules/headline.css */
  
  h3 {
    font-size: 1.5rem;
    margin-top: 1em;
    color: #111;
    margin-bottom: 1.5em;
  }
  
  /* modules/paragraph.css */
  
  p {
    margin-bottom: 1.5em;
    margin-top: 1em;
  }
  
  /* modules/form.css */
  
  input {
    font: inherit;
    outline: 0;
    
  }
  
  .form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }
  
  .form__field .icon {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%)
  }
  
  .form__input {
    border-radius: 0.25em;
    border-style: solid;
    border-width: 2px;
    font-size: 1.5rem;
    padding: 0.5em 4em 0.5em 2em;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  
  .form__input:valid {
    border-color: forestgreen;
  }
  button{
      margin-top: 4rem;
      height: 3rem;
      width: 8rem;
      border-radius:10px ;
      border: none;
      background-color: #73568d;
      color: white;
      
  }
  
  /* .form__input:valid + .icon::after {
    content: '😃';
  }
  
  .form__input:invalid {
    border-color: firebrick;
  }
  
  .form__input:invalid + .icon::after {
    content: '😳';
  } */
  .nav button{
    border: none;
    position: relative;
    top: -3rem;
    color: black;
    width: 7rem;
    height: 2rem;
    /* margin-top: .1rem; */
    /* margin-bottom: 2rem; */
    margin-left: 61rem;
    font-size: 1.2rem;
    padding: 5px 20px;
    background-color: #73568d;
    border-radius: 5px;
    box-shadow: 1px 3px 8px;
}
.nav button a{
    text-decoration: none;
    color: white;
    background: none;    
}
.nav img{
  /* border: 2px solid red; */
  height: 5rem;
  margin-left: 3rem;
}
